<div id="cookie-container"
     _="on load
          if localStorage's cookie_consent is empty then
            wait 1s then add .active to me"
>
    <p> We use session cookies to count you as a view for post analitics.
        <a href="#">read more</a>.
    </p>
    <button id="cookie-confirm" class="cookie-btn"
            hx-get="/createsession"
            _="on click
                 remove .active from #cookie-container
                 set localStorage's cookie_consent to true
               on htmx:afterRequest
                  reload() the location of the window"
    >Okay</button>

    <button id="cookie-deny" class="cookie-btn"
            _="on click
                remove .active from #cookie-container
                set localStorage's cookie_consent to false"
    >Nope</button>
</div>
