@import "../components/grid-gradients";

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 40rem;
    margin: 0 auto;
    @include bullet-journal-pattern;

    border-left: $default-border-width solid black;
    border-right: $default-border-width solid black;
}
