footer {
    padding: 0.5rem;
    background-color: white;
    border-top: $default-border-width solid black;

    span#sep {
        height: auto;
        margin: 0.25rem 0;
        border-left: 0.15rem dotted grey;
    }

    ul {
        display: flex;
        justify-content: center;
        gap: 0.5rem;

        li {
            display: flex;
            align-items: center;
            gap: 0.25rem;

            a {
                text-decoration: none;
                color: mix($accent-color, black, 75%);
            }
            &:hover a { text-decoration: underline }
            svg { width: 1.15rem }
        }
    }
}
