$shadow-distance: 0.25rem;

main > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    h1 {
        // NOTE: Beware what font you use with -webkit-text-stroke, some
        // may not work correctly with this, for the Montserrat font its
        // necessary to use an older version of it.
        // (even on the non variable font weight version)
        // Related issues:
        // - https://stackoverflow.com/q/69253420
        // - https://github.com/google/fonts/issues/4212

        // RE: Using pseudo-elements to cover the internal lines with a
        // second copy of the text and/or using text-shadow as an outline?
        // While the pseudo-element solution works fine, the text stroke
        // requires an increased size to achieve a similar result, but it still
        // doesn't render properly on all browsers (looking at you firefox).
        // Related issues:
        // - https://stackoverflow.com/a/73146972

        color: white;
        -webkit-text-stroke: .1rem black;
        text-shadow: $shadow-distance $shadow-distance $accent-color;
    }

    nav {
        ul {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        a {
            color: black;
            position: relative;
            z-index: 1;

            // Highlighter animation
            // inspo: codepen.io/argyleink/pen/poEjvpd
            &::before {
                transform: scaleX(0);
                transform-origin: bottom right;
            }
            &:hover::before {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
            &::before {
                background: $accent-color;
                content: "";
                display: block;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                inset: 0 0 0 0;
                z-index: -1;
                transition: transform 300ms ease;
            }
        }
    }
}
