$shadow-distance: 0.25rem;

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;

    h1 {
        color: white;
        -webkit-text-stroke: .1rem black;
        text-shadow: $shadow-distance $shadow-distance $accent-color;
    }

    nav {
        ul {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        a {
            color: black;
            position: relative;
            z-index: 1;

            // Highlighter animation
            // inspo: codepen.io/argyleink/pen/poEjvpd
            &::before {
                transform: scaleX(0);
                transform-origin: bottom right;
            }
            &:hover::before {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
            &::before {
                background: $accent-color;
                content: "";
                display: block;
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                inset: 0 0 0 0;
                z-index: -1;
                transition: transform 300ms ease;
            }
        }
    }
}
