main {
    $shadow-color: darken($grid-pattern-color, 20);
    flex-grow: 1;
    padding: 0 1.5rem;
    background-color: $main-background-color;
    box-shadow: 0 0 3rem 0.1rem rgba($shadow-color, 0.25);
}
