# Don't commit this to source control.
# Eg. Include ".env" in your `.gitignore` file.

# Set 1 to enable arel for hot reloading and debugging
DEBUG=1
# "production" or "development"
ENVIRONMENT=development
APP_HOST=0.0.0.0
APP_PORT=8000
