#article-meta {
    margin-bottom: 2rem;
    padding: 1rem;
    text-align: center;
    font-family: sans-serif;
    border: $default-border-width dashed map-get($accent-color-palette, 800);
    border-radius: $default-border-radius;
    background-color: map-get($accent-color-palette, 100);

    header {
        font-family: "Montserrat", sans-serif;
        h1 {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    b, p > span {
        font-size: 1rem;
        font-family: monospace;
    }

    div#stats {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    hr {
        border: none;
        border-top: 1px dashed map-get($accent-color-palette, 600);
        margin: 0.5rem 0;
    }
}
