#cookie-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: white;
    border-top: $default-border-width solid black;
    box-shadow: 0 0 2rem 0.1rem rgba(black, 0.15);
    transition: 400ms;

    &.active { bottom: 0 }
    a { color: $accent-color }
    button {
        padding: 0.5rem 1rem;

        &#confirm { background: $accent-color }
        &#deny { background: gray }
    }
}
