#postlist form {
    display: flex;
    gap: 0.5rem;

    span {
        @include neubrutalism-border;
        box-shadow: none;
        display: flex;
        align-items: center;
        overflow: hidden;
        background-color: map-get($accent-color-pallete, 300);

        label { padding: 0.15rem 0.5rem }

        select {
            background: $bg-color;
            height: 100%;
            border: none;
            border-left: $default-border-width solid black;
        }
    }

    & > button {
        padding: 0.25rem;
        margin: 0;
        aspect-ratio: 1;

        background-color: map-get($accent-color-pallete, 300);
        border-radius: 100%;
        transition: 150ms ease;

        &:hover {
            transform: translate(-$shadow-distance, -$shadow-distance);
            box-shadow: $shadow-distance $shadow-distance black;
        }
    }
}
