article#post {
    @include neubrutalism-border;
    background-color: $bg-color;

    // TODO: Fancy hover animation here

    section[data-type="metadata"] {
        display: flex;
        position: relative;
        color: gray;

        // Vertical separator
        p::after {
            content: "";
            border-left: 0.15rem dotted gray;
            margin: 0 0.5rem;
        }
    }

    h1 a {
        text-decoration: none;
        color: $text-color;

        // Underline animation
        background: linear-gradient($accent-color, $accent-color);
        background-size: 0 0.1rem;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size 250ms, color 250ms;

        &:hover,
        &:focus {
            background-size: 100% 0.1rem;
            color: $accent-color;
        }
    }

    #taglist {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.25rem;

        span {
            padding: 0.1rem 0.2rem;
            border: 0.15rem solid $accent-color;
            border-radius: $default-border-radius;
            color: map-get($accent-color-pallete, 900);
            background-color: map-get($accent-color-pallete, 200);

            &:hover {
                border-color: black;
                color: black;
                cursor: pointer;
            }
        }
    }
}
