#postlist form {
    display: flex;
    gap: 0.5rem;
    margin-bottom: $shadow-distance;

    span {
        @include neubrutalism-border;
        display: flex;
        align-items: center;
        overflow: hidden;
        background-color: mix($accent-color, white, 60%);

        label { padding: 0.15rem 0.5rem }

        select {
            background: white;
            height: 100%;
            border: none;
            border-left: $default-border-width solid black;
        }
    }

    & > button {
        padding: 0.25rem;
        margin: 0;
        aspect-ratio: 1;

        background-color: mix($accent-color, white, 60%);
        border-radius: 100%;

        &:hover { background-color: $accent-color }
    }
}
