select {
    position: relative;
    padding: 0.2rem 0.5rem;
    margin: 0 $shadow-distance $shadow-distance 0;
    background-color: white;
    @include neubrutalism-border;

    &:hover {
        left: $shadow-distance;
        top: $shadow-distance;
        background-color: mix(white, black, 90%);
        box-shadow: none;
        cursor: pointer;
    }
}
