<!DOCTYPE html>
<html lang="en">
    <head>
        <title>FastAPI Blog</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', path='/css/compiled/cookie-banner.css') }}">
        {% block postlist_styling %}{% endblock %}
        {% block article_styling %}{% endblock %}
    </head>
    <body>
        {% block home %}{% endblock %}
        {% block article %}{% endblock %}

        {% include "/components/cookie-banner.html" %}
        <script src="{{ url_for('static', path='/htmx.min.js') }}"></script>
        <script src="{{ url_for('static', path='/_hyperscript.min.js') }}"></script>
    </body>
</html>
