{% extends "base.html" %}

{% block postlist_styling %}
<link rel="stylesheet" href="{{ url_for('static', path='/css/compiled/styles.css') }}">
{% endblock %}

{% block home %}
<form hx-get="/posts" hx-target="#postlist" hx-trigger="change">
    <select name="sort">
        <option value="id">id</option>
        <option value="date">date</option>
    </select>
    <select name="order">
        <option value="asc">ascending</option>
        <option value="desc">descending</option>
    </select>
</form>

<div hx-get="/posts" hx-swap="outerHTML" hx-trigger="load"></div>

{% if ENABLE_HOTRELOAD %}
    {{ hotreload.script(url_for("hot-reload")) | safe }}
{% endif %}
{% endblock %}
