@import "../abstracts/mixins";

$font-path: "../../fonts/";

// == Montserrat Family ==
$montserrat-font-weights: (
    "Thin": 100,
    "ExtraLight": 200,
    "Light": 300,
    "Regular": 400,
    "Medium": 500,
    "SemiBold": 600,
    "Bold": 700,
    "ExtraBold": 800,
    "Black": 900
);

@each $keyword, $numeric in $montserrat-font-weights {
    @include font-face(
        Montserrat,
        "/Montserrat-" + $keyword,
        $font-path + "Montserrat",
        $numeric,
        $exts: ttf
    );
}
