// Result simmilar to bootstrap colors
// https://getbootstrap.com/docs/5.0/customize/color/#all-colors
@function makeColorPalette($color) {
    $light: #fff;
    $dark: #000;
    $palette: (
        50: mix($light, $color, 88%),
        100: mix($light, $color, 70%),
        200: mix($light, $color, 50%),
        300: mix($light, $color, 30%),
        400: mix($light, $color, 15%),
        500: $color,
        600: mix($dark, $color, 13%),
        700: mix($dark, $color, 30%),
        800: mix($dark, $color, 46%),
        900: mix($dark, $color, 75%)
    );
    @return $palette;
}

// Result simmilar to 2014 Material Design palettes
// https://codepen.io/xdesro/pen/WJBwyv
@function multiplyColor($fore, $back) {
    $red: red($back) * red($fore) / 255;
    $green: green($back) * green($fore) / 255;
    $blue: blue($back) * blue($fore) / 255;
    @return rgb($red, $green, $blue);
}
@function makeMaterialColorPalette($color) {
    $light: #fff;
    $dark: multiplyColor($color, $color);
    $palette: (
        50: mix($light, $color, 88%),
        100: mix($light, $color, 70%),
        200: mix($light, $color, 50%),
        300: mix($light, $color, 30%),
        400: mix($light, $color, 15%),
        500: $color,
        600: mix($dark, $color, 13%),
        700: mix($dark, $color, 30%),
        800: mix($dark, $color, 46%),
        900: mix($dark, $color, 75%),
        A100: lighten(saturate(mix($dark, $color, 15%), 80%), 45.6%),
        A200: lighten(saturate(mix($dark, $color, 15%), 80%), 35.6%),
        A400: lighten(saturate(mix($dark, $color, 15%), 100%), 25.6%),
        A700: lighten(saturate(mix($dark, $color, 15%), 100%), 20.5%)
    );
    @return $palette;
}
