@import "abstracts/colors",
        "abstracts/variables",
        "abstracts/fonts";

@import "base/reset",
        "base/typography";

@import "components/cookie-banner",
        "components/select",
        "components/buttons",
        "components/tables";

@import "layout/body",
        "layout/main",
        "layout/header";

$tableBorder: 1px;

table, th, td {
    border: $tableBorder solid;
    border-collapse: collapse;
}
