@import "abstracts/colors",
        "abstracts/variables";

@import "base/reset",
        "base/typography";

@import "layout/body",
        "layout/main",
        "layout/header";

@import "components/cookie-banner";

$tableBorder: 1px;

table, th, td {
    border: $tableBorder solid;
    border-collapse: collapse;
}
