{% extends "base.html" %}

{% block article_styling %}
<link href="{{ url_for('static', path='/css/pygments/dracula.css') }}" rel="stylesheet">
{% endblock %}

{% block article %}
{# title #}
<h1>{{ title[0] }}</h1>
{# description #}
<p>{{ description[0] }}</p>
{# date #}
<p>created: {{ date[0] }}</p>
{# view count #}
{% if views %}
    <p>views: {{ views["views"] }}</p>
{% endif %}
{# html body #}
<hr>
{{ body|safe }}

{% if DEBUG %}
    {{ hotreload.script(url_for("hot-reload")) | safe }}
{% endif %}
{% endblock %}
