{% extends "base.html" %}

{% block article_styling %}
<link href="{{ url_for('static', path='/css/pygments/dracula.css') }}" rel="stylesheet">
<link href="{{ url_for('static', path='/css/compiled/markdown.css') }}" rel="stylesheet">
{% endblock %}

{% block article %}
<div id="article-meta">
    <header>
        <h1>{{ title[0] }}</h1>
        <p>{{ description[0] }}</p>
    </header>
    <hr>
    <section data-type="metadata">
        <p>created: <b><time>{{ date[0] }}</time></b></p>
        <div id="stats">
            {% if views %}
            <p><b>{{ views["views"] }}</b> views</p>
            <span id="sep"></span>
            {% endif %}
            {% if word_count > 0 %}
            <p><b>{{ word_count }}</b> words</p>
            <span id="sep"></span>
            {% endif %}
            <p><b>TODO</b> est. read time</p>
        </div>
        {% if tags %}
        <p>
            tags:
            {% for tag in tags %}
            <span><u>{{tag}}</u></span>
            {% endfor %}
        </p>
        {% endif %}
    </section>
</div>

<article class="markdown">{{ body|safe }}</article>

{% if ENABLE_HOTRELOAD %}
    {{ hotreload.script(url_for("hot-reload")) | safe }}
{% endif %}
{% endblock %}
