<footer>
    <ul>
        <li>version {{ git_version }}</li>
        <span id="sep"></span>
        <li>
            <i class="ti ti-brand-gitlab"></i>
            <a href="{{ git_url }}" target="_blank">Source code</a>
        </li>
    </ul>
    <ul>
        <li><a href="#" target="_blank">Privacy</a></li>
        <span id="sep"></span>
        <li><a href="#" target="_blank">About</a></li>
        <span id="sep"></span>
        <li>
            <i class="ti ti-pig-money"></i>
            <a href="https://ko-fi.com/y0nei">Donate</a>
        </li>
    </ul>
</footer>
