{% macro post_item(post, request) -%}
<article id="post">
    <section data-type="metadata">
        <p>id:{{ post.id }}</p>
        <span id="sep"></span>
        <time>{{ post.date|first }}</time>
    </section>
    <h1>
        <a href="{{ request.url_for('article', id=post.id) }}">
            {{ post.title|first }}
        </a>
    </h1>
    {% if post.description %}
    <p data-type="description">{{ post.description|first }}</p>
    {% endif %}
    {% if post.tags %}
    <div id="taglist">
        {% for tag in post.tags %}
        <span onclick="changeTag.call(this);"><a>{{ tag }}</a></span>
        {% endfor %}
    </div>
    {% endif %}
</article>
{%- endmacro %}
