<header id="postlist-header" hx-preserve>
    <h1>Post listing</h1>
    <form hx-get="/posts" hx-target="#postlist" hx-trigger="submit, change">
        <span>
            <label for="tag">tag:</label>
            <select name="tag" onchange="handleTagChange.call(this);">
                <option selected value>All</option>
                {% for tag in tags %}
                <option value="{{tag}}">{{tag}}</option>
                {% endfor %}
            </select>
        </span>
        <span>
            <label for="sort">sort by:</label>
            <select name="sort">
                <option value="id" selected>id</option>
                <option value="date">date</option>
            </select>
        </span>
        <button onclick="changeSort.call(this);" id="order">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="icon icon-tabler sort-descending"
                 width="24" height="24"
                 viewBox="0 0 24 24"
                 stroke="currentColor"
                 fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round"
            >
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M4 6l9 0"></path>
               <path d="M4 12l7 0"></path>
               <path d="M4 18l7 0"></path>
               <path d="M15 15l3 3l3 -3"></path>
               <path d="M18 6l0 12"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="icon icon-tabler sort-ascending hidden"
                 width="24" height="24"
                 viewBox="0 0 24 24"
                 stroke="currentColor"
                 fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round"
            >
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M4 6l7 0"></path>
               <path d="M4 12l7 0"></path>
               <path d="M4 18l9 0"></path>
               <path d="M15 9l3 -3l3 3"></path>
               <path d="M18 6l0 12"></path>
            </svg>
        </button>
        <select name="order" class="hidden">
            <option value="asc">ascending</option>
            <option value="desc" selected>descending</option>
        </select>
    </form>
</header>

<section id="postlist-items">
    {% from "components/post-item.html" import post_item %}
    {% for post in post_list %}
        {{ post_item(post, request) }}
    {% endfor %}
</section>

<nav data-type="pagination">
    <div>
        {% if pagination["prev"] != None %}
        <button hx-get="{{ pagination['prev'] }}" hx-target="#postlist">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="icon icon-tabler chevron"
                 width="24" height="24"
                 viewBox="0 0 24 24"
                 stroke-width="2"
                 stroke="currentColor"
                 fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round"
            >
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M15 6l-6 6l6 6"></path>
            </svg>
        </button>
        {% endif %}
        <p><b>{{ current_page }}</b> of <b>{{ total_pages }}</b></p>
        {% if pagination["next"] != None %}
        <button hx-get="{{ pagination['next'] }}" hx-target="#postlist">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="icon icon-tabler chevron"
                 width="24" height="24"
                 viewBox="0 0 24 24"
                 stroke-width="2"
                 stroke="currentColor"
                 fill="none"
                 stroke-linecap="round"
                 stroke-linejoin="round"
            >
               <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
               <path d="M9 6l6 6l-6 6"></path>
            </svg>
        </button>
        {% endif %}
    </div>

    <p>showing <b>{{ post_list|length }}</b> of <b>{{ total }}</b> total</p>
</nav>
