<header id="postlist-header" hx-preserve>
    <h1>Post listing</h1>
    <form hx-get="/posts" hx-target="#postlist" hx-trigger="submit, change">
        <span>
            <label for="tag">tag:</label>
            <select name="tag" onchange="handleTagChange();">
                <option selected value>All</option>
                {% for tag in tags %}
                <option value="{{tag}}">{{tag}}</option>
                {% endfor %}
            </select>
        </span>
        <span>
            <label for="sort">sort by:</label>
            <select name="sort" onchange="handleTagChange();">
                <option value="id" selected>id</option>
                <option value="date">date</option>
            </select>
        </span>
        <button onclick="changeSort.call(this); handleTagChange();" id="order">
            <i class="ti ti-sort-descending hidden"></i>
            <i class="ti ti-sort-ascending"></i>
        </button>
        <select name="order" class="hidden">
            <option value="asc" selected>ascending</option>
            <option value="desc">descending</option>
        </select>
    </form>
</header>

<section id="postlist-items">
    {% from "components/post-item.html" import post_item %}
    {% for post in post_list %}
        {{ post_item(post, request) }}
    {% endfor %}
</section>

<nav data-type="pagination">
    <div>
        {% if pagination["prev"] != None %}
        <button hx-get="{{ pagination['prev'] }}" hx-target="#postlist">
            <i class="ti ti-chevron-left"></i>
        </button>
        {% endif %}
        <p><b>{{ current_page }}</b> of <b>{{ total_pages }}</b></p>
        {% if pagination["next"] != None %}
        <button hx-get="{{ pagination['next'] }}" hx-target="#postlist">
            <i class="ti ti-chevron-right"></i>
        </button>
        {% endif %}
    </div>

    <p>showing <b>{{ post_list|length }}</b> of <b>{{ total }}</b> total</p>
</nav>
