<div id="postlist">
    <div id="tablewrapper">
        <table>
            <thead>
                <th>id</th>
                <th>title</th>
                <th>date</th>
            </thead>
            {% for post in post_list %}
            <tbody>
                <td>{{ post.id }}</td>
                <td><a href="posts/{{ post.id }}">{{ post.title[0] }}</a></td>
                <td>{{ post.date[0] }}</td>
            </tbody>
            {% endfor %}
        </table>
    </div>

    {# pagination #}
    {% if pagination["next"] != None %}
        <button hx-get="{{ pagination['next'] }}" hx-target="#postlist" hx-swap="outerHTML">
            next
        </button>
    {% endif %}
    {% if pagination["prev"] != None %}
        <button hx-get="{{ pagination['prev'] }}" hx-target="#postlist" hx-swap="outerHTML">
            previous
        </button>
    {% endif %}

    <p>page {{ current_page }}/{{ total_pages }}</p>
    <p>showing {{ post_list|length }}/{{ total }} on current page</p>
</div>
