body > header,
#postlist header h1,
#postlist form label,
article#post h1,
article#post p[data-type="description"],
nav[data-type="pagination"],
#postlist form label,
footer,
#cookie-container {
    font-family: "Montserrat", sans-serif;
}

body > header {
    h1 {
        font-size: 2.75rem;
        font-weight: 900;
    }
    a {
        font-size: 1.2rem;
        font-weight: 500;
        text-decoration: none;
    }
}

article#post p[data-type="description"],
nav[data-type="pagination"],
#postlist form label,
footer {
    font-size: 0.9rem;
    font-weight: 500;
    font-style: normal;
}

#postlist header h1 {
    font-size: 1.5rem;
    font-weight: 700;
}

article#post {
    section[data-type="metadata"] {
        font-family: $mono-font;
        font-size: 0.8rem;
    }

    h1 {
        font-size: 1.75rem;
        font-weight: 600;
    }

    p[data-type="description"] {
        font-weight: 400;
    }

    #taglist span {
        font-family: "Rubik", sans-serif;
        font-size: 0.8rem;
        font-weight: 500;
        font-style: normal;
    }
}

#cookie-container {
    button { font-size: inherit }
}

// Icons
.ti {
    font-size: 1.25rem;

    footer & { font-size: 1.15rem }
}
