<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello World</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block postlist_styling %}{% endblock %}
        {% block article_styling %}{% endblock %}
    </head>
    <body>
        {% block postlist %}{% endblock %}
        {% block article %}{% endblock %}

        <button hx-get="/posts" hx-swap="outerHTML">test htmx</button>

        <script src="{{ url_for('static', path='/htmx.min.js') }}"></script>
    </body>
</html>
